* {
  font-family: Helvetica;
  margin: 0;
  background-color: black;



}

header {
  display: flex;
}



nav {
  display: flex;
  background-color: black;
  width: 100%;
  padding: .7rem 0;

}

a {
  text-decoration: none;
  transition: all 500ms;
  color: white;

}

a:hover {
  color: rgb(234, 154, 234);

}

ul {
  display: flex;
  flex-flow: row nowrap;
  color: white;


}

li {
  list-style: none;
  margin-right: .5rem;
}
